<footer> 
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved</h6>
      <a href="https://www.linkedin.com/in/aleena-khan-5902b72b2/" target="_blank">i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/AleenaKhan673/assignment-2--web" target="_blank">i class="fa fa-github"></i></a>
    </nav>
  </footer>
</body>
</html>