<main>
    <article>
        <!---aboutmepage-->
        <li class="/aboutme">
            <h2>About Myself</h2>
            <img src="/Visuals/IMG_6022.png" width="200" height="200">
            <p>Hello! my name is Aleena Khan, welcome to my website! Follow along as I showcase my web development
                skills.</p>
        </section>

        <!---formatofmyvideo--->
        <video controls poster="/Visuals/paintings.jpg" width="200" height="200">
            <source src="/Visuals/myvid.mp4" type="video/mp4">
            <source src="/Visuals/oggvid.ogg" type="video/ogg">
            your browser does not support the video tag.
        </video>

    </article>


    <aside>
        <p>Outside of school I like to read books, listen to music, play sports and hang out with loved ones. In the
            future I aspire to find a career that will suit my needs. This course is allowing me to explore my
            coding skills. Additionally I enjoy the idea of managing and working with a team towards a shared goal.
            I hope to find a career that allows me to achieve this. Personally, I feel like this could be interested
            in Project Management!</p>
    </aside>
</main>

<main>
    <article>
        <div class="book-images">
            <img src="/Visuals/heartless.jpg" width=" 200" height="250" alt="heartless">
            <img src="/Visuals/book.jpg" width="200" height="250" alt="allrhodesleadhere">
            <img src="/Visuals/cruelprince.jpg" width="200" height="250" alt="cruelprince">
        </div>
    </article>

    <aside>
        <p>Hover over each image to see my rating for each book!</p>
    </aside>
</main>